<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="constring" connectionString="Data Source=DESKTOP-7BNIILF\SQLEXPRESS;Initial Catalog=Shop_Management;Integrated Security=True" />
    <add name="Management.Properties.Settings.finalConnectionString"
      connectionString="Data Source=DESKTOP-7BNIILF\SQLEXPRESS;Initial Catalog=final;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>  
</configuration>